/* Start General settings */
* {
	font-family: 'raleway';	
	box-sizing: border-box
}
ul {
	list-style: none
}
a{
	text-decoration: none
}
hr {
	color:#E5E5E5;
	width: 90%;
	margin: 0 auto
}
/* Underlined span to headers */
h2 span {
	border-bottom:2px solid #FC6471;
	padding-bottom:10px
}
/* Container */
.container{
	width: 90%;
	margin: auto
}
/* Opacity background */
.opaback{
	height: 100%;
	width: 100%;
	background-color: #0005
}
/* Main background color */
.bgcol{
	background-color: #353541
}
/* Colors */
.whitecol{
	color: #fff
}
.silvercol{
	color: #B8B7BC
}
.blackcol{
	color: #000
}
.pinkcol{
	color: #FC6471 !important
}
/* End General settings */

/* Start Sidebar */
.navbar{
	position: fixed;
	height: 100vh;
	width: 20%;
	z-index: 2
}
/* Photo & Job title */
aside{
	height:33%;
	position: relative;
	background-image: url("../pics/avatar.jpg");
	background-size: cover
}
aside .intro{
	position: absolute;
	bottom: 8%
}
aside h2,p{
	margin:0
}

/* The navbar */
nav{
	height:67%;
}
nav ul{
	height: 100%;
	padding: 0px;
	margin: 0px
}
nav a{
	height: 16.66%;
	display: block;
	position: relative;
	color: #fff;
	border-top: 2px solid #282834;
	padding: 0 0 0 20px 
}
.active{
	background-color: #FC6471
}
/* Open & close button */
nav a:first-child{
	display: none;
	border: none
}
nav a:hover{
	background-color: #FC6471
}
nav li{
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5em
}
/* End Sidebar */

/* The content */
main{
	width:80%;
	float: right
}

/* Start cover */
header{
	max-height: 600px;
	text-align:center;
	background-image: url("../pics/lap.png");
	background-size:cover
}
header h1{
	padding:110px 0px 0px;
	margin:0 0 20px 0;
	font-size:40px
}
header p{
	width: 80%;
	padding:0px 0px 20px 0px;
	margin: 0 auto;
	font-size:18px
}
header button{
	width: 170px;
	height: 50px;
	border-radius: 6px;
	background-color:#FC6471;
	border: none;
	cursor: pointer;
	font-size: 24px;
	margin: 0 0 110px 0
}
/* End cover */

/* Start About me */
.about{
	min-height:600px
}

/* Informations about me */
.text{
	width:52%;
	height: 100%;
	float:left
}
.title{
	height:50%;
	padding:80px 0px 20px;
	color:#3E3E3E
}
h2{
	font-size:20pt
}
.details{
	height:50%;
	background-color: #F9F9F9
}
.details *{
	border-bottom:1px solid #E0E0E0;
	padding:15px 0px ;
	color:#6F6F6F
}
.details :last-child{
	border:none
}
.details span{
	color:black
}

/* My photo */
.pic{
	height:600px;
	width:46%;
	float:left;
	margin-left: 2%
}
.pic img{
	width:100%;
	height: 80%;
	padding: 130px 0 0 0
}
/* End about me */

/* Start Education */
h2{
	padding: 80px 0 40px
}

.eduflow {
	position: relative;
	margin: 0 auto
}
  
/* The line in the middle */
.eduflow::after {
	content: '';
	position: absolute;
	width: 1px;
	background-color: #353541;
	top: 20px;
	bottom: 20px;
	left: 50%
}

/* The boxes */
.course {
	padding: 10px 40px;
	position: relative;
	width: 50%
}

/* The circles */
.course::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: #353541;
	border: 4px solid #FC6471;
	top: 15px;
	border-radius: 50%;
	z-index: 1
}
/* Make the last arrow bottom */
.course:last-child::after{
	top: auto;
	bottom: 15px
}

/* The left boxes */
.left {
	left: 0
}

/* The right boxes */
.right {
	left: 50%
}

/* Add arrows to the left box */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid #353541;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #353541
}

/* Add arrows to the right box */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid #353541;
	border-width: 10px 10px 10px 0;
	border-color: transparent #353541 transparent transparent
}
.left:last-child::before{
	top: auto;
	bottom: 22px
}
/* Make the last arrow bottom */
.right:last-child::before{
	top: auto;
	bottom: 22px
}

/* Fix the circle for right box */
.right::after {
	left: -16px
}

/* The actual content */
.infos {
	padding: 20px 30px;
	color: white;
	background-color: #353541;
	position: relative;
	border-radius: 6px
}
.infos h3 {
	font-weight: bold
}
.infos h3 span{
	color: #d7d7d9;
	font-weight: 300
}
.infos p{
	color: #c9c9cc
}
/* End education */

/* Start skills */
.skills{
	min-height: 350px;
	background-color:#1D1E23
}

.skills h2{
	padding: 70px 0px 10px
}
/* Skill progress */
.skills .skill{
	float: left;
	width: 47%;
	margin: 40px 3% 0 0
}
/* progress bar */
.prog {
	width: 100%;
	height: 5px;  
	position: relative;
	background-color: #d7d7d9
}
/* progress level */
.prog span {
	display: block;
	height: 100%;
	background-color: #fb6470;
	position: relative
}
/* The circle  */
.prog > span::after{
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	right: -17px;
	background-color: #fb6470;
	top: -7px;
	border-radius: 50%
}
/* Clear to make section's height taller than content */
.clear{
	clear: both;
	margin-bottom: 50px
}
/* End skills */

/* Start contact */
.row{
	display: flex
}
/* The form to send msg */
.msg{
	margin-top: 60px;
	flex: 1
}
.msg *{
	display:block;
	margin:15px 0px;
	overflow: auto;
}
.msg h3{
	margin:0px 0px 20px;
	color:#3E3E3E	
}
.msg input{
	width:80%;
	padding:10px;
	border:1px solid black
}
textarea{
	width:80%;
	height:100px;
	padding:10px;
	border:1px solid black
}
/* Send bottun */
.msg input:last-child{
	float:right;
	margin-right: 20%;
	margin-top: 0;
	width: 120px;
	padding: 7px;
	background-color:#FC6471;
	border: none;
	cursor: pointer;
}
/* Contact info */
.inf{
	margin:60px 0px 0px 0px;
	border-left:1px solid #CCCCCC; 
	flex: 1
}
.inf li{
	margin: 30px
}
.inf h3{
	margin: 0;
	padding: 0
}
.inf p{
	color:#666666;
}

.contact hr{
	clear: both;
}
/* End contact */

/* Start footer */
footer{
	height:100px;
	text-align: center
}
footer i{
	margin:20px;
}
footer:nth-child(2){
	border:1px solid #666666;
	border-top:none;
	border-bottom:none
}
footer p{
	margin: 0;
	color:#666666
}
/* End footer */

@media screen and (max-width: 768px) {
	/* Start Sidebar */
	/* Make navbar horizontal */
	.navbar{
		width: 100%;
		height: 16.66% !important;
	}

	/* Hide Photo & Job title */
	aside{
		display: none !important;
	}

	/* The navbar */
	nav{
		height: 100%;
	}
	/* Open & close button */
	nav a:first-child{
		position: static;
		display: block;
		float: right;
		transform: none;
		height: 100%;
		width: 20%;
		padding: 30px 20px 30px 20px !important;
		text-align: center
	}
	/* Links */
	nav a:not(:first-child){
		display: none;
	}
	nav a:nth-child(2){
		display: block !important;
		padding: 45px 20px 45px 20px !important;
		width: 80%;
		height: 100%;
		transform: none;
		border: none
	}
	nav a:first-child li{
		position: static;
	}
	nav a:first-child i{
		padding-top: 30px;
	}

	/* When clicked */
	/* Open nav & show links */
	.open{
		height: 100vh;
	}
	.showlinks{
		display: block !important;
		height: 16.66% !important;
	}
	/* End Sidebar */

	/* The content */
    main{
		width: 100%;
	}
	
	/* Start About me */
	/* Informations About me */
	.text{
		display: block;
		width: 100%;
        margin-bottom: 20px
	}
    .title{
        padding: 0
    }

	/* My photo */
	.pic{
		display: block;
		width: 100%;
		height: auto;
		margin: 20px 0;
        float: none
	}
    .pic img{
        width: 100%;
        height: 100%;
        padding: 0
    }
	/* End About me */

	/* Start Education */
	/* Place the eduflow to the left */
	.eduflow::after {
		left: 31px
	}
	/* Full-width containers */
	.course {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px
	}
	/* Make sure that all arrows are pointing leftwards */
	.course::before {
		left: 60px;
		border: medium solid #353541;
		border-width: 10px 10px 10px 0;
		border-color: transparent #353541 transparent transparent
	}
	/* Make sure all circles are at the same spot */
	.left::after, .right::after {
		left: 15px
	}	
	/* Make all right containers behave like the left ones */
	.right {
		left: 0%
	}
	/* End education */

	/* Start Skills */
	.skills .skill{
		width: 97%;
	}
	/* End skills */

	/* Start Contact */
	.row{
		display: block
	}
	.msg{
		width: 100%
	}
	.msg input{
		width: 100%	
	}
	.msg input:last-child{
		margin: 0
	}
	.msg textarea{
		width: 100%
	}
	.inf{
		width: 100%;
		margin: 0;
		border: none;
	}
	.inf ul{
		margin-left: 0
	}
	.inf li{
		float: left
	}
	/* End contact */
}
